#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
/* App.jsx */
.h2 {
  text-align: left;
  color: slateblue;
}

/* Func and Class Components */
table {
  width: 40%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Props */
.props {
  color: gray;
}

/* button */
.btn {
  background-color: whitesmoke;
  color: black;
  padding: 5px 5px;
}

/* Function Component */
.btn-fc,
.btn-cc {
  padding: 8px;
  background-color: coral;
  border: none;
  color: #333;
}

/* useContext */

.box {
  border: 3px solid;
  padding: 25px;
}
