#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
/* App.jsx */
.h2 {
  text-align: left;
  color: slateblue;
}

/* Func and Class Components */
table {
  width: 40%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Props */
.props {
  color: gray;
}

/* button */
.btn {
  background-color: whitesmoke;
  color: black;
  padding: 5px 5px;
}

/* Function Component */
.btn-fc,
.btn-cc {
  padding: 8px;
  background-color: coral;
  border: none;
  color: #333;
}

/* useContext */

.box {
  border: 3px solid;
  padding: 25px;
}
/* usestateapp */
.head {
  color: crimson;
}
/* useState */
.useState {
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
/* useState hook - secondTask */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px red;
  width: 40%;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 40%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: 15px;
}

button:hover {
  background-color: lightgreen;
  color: black;
}

h3 {
  margin-top: 20px;
}

p {
  width: 15%;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px red;
}

/* useState FirstTask */
.buttonContainer {
  display: block;
}

.firstTask {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

/* useeffects */
.useeffects .button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column: 15px;
}

.useeffects .button:hover {
  background-color: lightgreen;
  color: black;
}
/* useEffects second Task */

.useEffectSndTask {
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

/* Conditional Statement */

.success {
  width: 30%;
  background-color: lightgreen;
  color: black;
  padding: 2px 6px;
}

.danger {
  width: 30%;
  background-color: firebrick;
  color: white;
  padding: 2px 6px;
}
